<?xml version='1.0' encoding='utf-8'?>

<plugin id="cordova-plugin-ping-cmd" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <name>cordova plugin ping</name>

    <js-module name="ping" src="www/ping.js">
        <clobbers target="cordova.plugins.Ping" />
    </js-module>

    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Ping">
                <param name="android-package" value="com.spartan0nix.plugins.Ping" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml"></config-file>

        <source-file src="src/android/Ping.java" target-dir="src/android/Ping"/>

    </platform>

</plugin>